@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --clr-primary-500: #8ec711;

  --clr-primary-700: #1e2c00;
}

/* 1. Defaults */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 2.Utilities*/
/* container */
.container {
  --max-width: 980px;
  margin-inline: auto;
  width: min(var(--max-width), 80%);
}

/* glassmorphisim*/
.glass {
  background-image: linear-gradient(
    145deg,
    rgba(138, 138, 138, 0.479),
    rgba(255, 255, 255, 0.301),
    rgba(43, 43, 43, 0.37)
  );
  backdrop-filter: blur(10px) contrast(95%) brightness(115%);
  box-shadow: inset 0 0px 4px rgb(0 0 0 / 0.1);
}

/* spacer */
.flow > :not(:first-child) {
  margin-top: var(--spacer, 2.8em);
}

/* button */
.btn {
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-radius: 100vh;
}

.btn::hover {
  cursor: pointer;
}

.btn-primary {
  max-width: fit-content;
  height: fit-content;
  padding: 0.35em 1em;
}

.btn-ghost {
  border: 2px solid black;
}

.btn-ghost-white {
  max-width: fit-content;
  height: fit-content;
  padding: 0.35em 1em;
  border: 1px solid white;
}

/* 3.Form */
.form-wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

.form-sign-up {
  gap: 0.9em;
}

.form-wrapper-sign-up {
  margin-inline-start: auto;
  width: 40%;
  min-height: 100dvh;
  min-height: 100vh;
  padding: 2.5em 2em 2em;
}

.form-login,
.form-sign-up {
  --spacer: 3em;
}

.form-login,
.form-sign-up > * {
  margin-inline-start: 4rem;
}

.form-heading {
  --spacer: 0.9em;
}

.form-item {
  --spacer: 1em;
  gap: 0.5rem;
}

.input-area {
  width: 90%;
  padding: 0.3em 1em;
  border-radius: 100vh;
}

.input-area:focus {
  border: 2px solid var(--clr-primary-500);
}

.sign-up-submit-btn {
  --spacer: 2.8em;
  width: 80%;
  padding-block: 0.55em;
}

.sign-up-social-icon {
  margin-inline-end: 1.2em;
  width: 7%;
}

.social-btns {
  --spacer: 2.3em;
}

.social-btn {
  justify-content: center;
  align-items: center;
}

.hero,
.login,
.customer-sign-up,
.farmer-sign-up {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
}

.already-have-an-account {
  --spacer: 3em;
  width: 70%;
  margin-inline: auto;
}

.or {
  --spacer: 1.8em;
  margin-inline-start: 1em;
}

.home-links {
  flex-direction: column;
}

/* 3.1 customer sing up */
.customer-sign-up {
  background-image: url("./assets/images/customer-sign-up-bg.jpg");
  background-position: center right;
}

/* 3.2 farmer's sing up */

.farmer-sign-up {
  background-image: url("./assets/images/farmers-sign-up-bg.jpg");
  background-position: right center;
}

.hero::before,
.login::before,
.customer-sign-up::before,
.farmer-sign-up::before {
  content: " ";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.customer-sign-up::before,
.farmer-sign-up::before {
  background-image: linear-gradient(
    45deg,
    rgba(34, 14, 0, 0.596),
    rgba(49, 22, 1, 0.589),
    rgba(63, 27, 0, 0.623)
  );
}

/* 3.3 Login */
.login {
  position: relative;
  align-items: center;
  justify-content: center;
  padding-inline: 1em;
  background-image: url("./assets/images/login-bg.jpg");
  background-position: center;
}

.login::before {
  background-image: linear-gradient(
    74deg,
    rgba(68, 30, 0, 0.692),
    rgba(0, 26, 75, 0.623)
  );
}

.form-wrapper-login {
  --max-width: 580px;
  max-width: 100%;
  padding: 3em 3em 3em 1em;
  background-image: linear-gradient(
    150deg,
    rgba(138, 138, 138, 0.445),
    rgba(255, 255, 255, 0.301),
    rgba(43, 43, 43, 0.37)
  );
}

.login .input-area {
  min-width: 100%;
}

.sign-alternative {
  width: 90%;
  margin-left: auto;
}

.login-form-btn {
  min-width: 100%;
  margin-inline-start: auto;
}

/* 4. Landing Page */
/* 4.1 Hero */
.primary-nav-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 1em;
}

.primary-nav-list {
  gap: 5.5em;
}

.primary-nav-btns {
  gap: 2em;
}

.hero {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url("../src/assets/images/carousel/1.jpg");
  background-position: center center;
}

.hero::before {
  background-image: linear-gradient(
    45deg,
    rgba(29, 12, 0, 0.637),
    rgba(22, 9, 0, 0.658),
    rgba(37, 15, 0, 0.616)
  );
}

.hero-text-wrapper {
  margin-block-start: 5em;
}

.hero-paragraph {
  max-width: 60ch;
  line-height: 1.8;
  letter-spacing: 0.032rem;
}

/* 5.Services */
.services {
  margin-block-start: 3em;
}

.services-title {
  font-size: 3.5rem;
}

.service-card-grid-heading,
.service-card-heading {
  font-size: 2.3rem;
}

.service-link {
  margin-block-start: 1em;
}

.link-arrow {
  font-size: 1.7rem;
  margin-inline-start: 0.3em;
  height: fit-content;
}

/* 5.1 customer and farmer services*/
.customer-and-farmer-services {
  padding-block: 1em 6em;
  justify-content: space-between;
}

.farmer-service-card,
.customer-service-card {
  gap: 0.8em;
}

.farmer-service-text,
.customer-service-text {
  max-width: 49ch;
  line-height: 1.7;
}

.farmer-service-icon-wrapper,
.customer-service-icon-wrapper {
  place-items: center;
  margin-block-end: 0.7em;
}

.farmer-service-icon,
.customer-service-icon {
  object-fit: cover;
  object-position: center center;
  width: 35%;
}

.farmer-service-link {
  margin-block-start: 2.75em;
}

/*5.2 Other services */
.other-services-wrapper {
  gap: 5em;
}

.service-card-grid-text {
  max-width: 50ch;
  grid-area: paragraph;
}

.service-card-grid-inverse,
.service-card-grid {
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}

.service-card-grid {
  grid-template-areas:
    "image heading"
    "image paragraph";
}

.service-card-grid-inverse {
  grid-template-areas:
    "heading   image"
    "paragraph image";
}

.service-card-grid-img-inverse,
.service-card-grid-img {
  width: 45%;
}

.service-card-grid-img-inverse {
  margin-inline: auto;
}

.service-card-grid-img-wrapper {
  grid-area: image;
  align-self: center;
}

.service-card-grid-heading {
  grid-area: heading;
  padding-block-end: 0.5em;
}

/* 6.Farmer */
/* 6.1 farmer navigation  */
.farmer-pg,
.product-form-wrapper {
  min-height: 100dvh;
  min-height: 100vh;
}

.farmer-nav-bar {
  padding: 1em 3.5em 1em 2em;
}

.farmer-nav-logo {
  border-bottom: 1px solid #1e2c00;
  padding-block-end: 0.4em;
}

.farmer-nav-list {
  margin-block-start: 1em;
  gap: 1em;
}

.farmer-primary-nav-link:hover {
  color: #8ec711;
}

/* 6.2 Farmer form  */
.product-form-section {
  padding-block-start: 1.1em;
}

.product-form-title {
  margin-block-end: 0.6em;
}

.product-input:focus-within {
  outline: 2px solid #72a700cc;
}

.farmer-product-form {
  padding: 2em 4em;

  background-image: linear-gradient(
    145deg,
    rgba(248, 248, 248, 0.966),
    rgba(240, 239, 239, 0.993),
    rgba(236, 236, 236, 0.966)
  );
  backdrop-filter: blur(22px);
}

.product-form-elements-wrapper {
  gap: 1.5em;
}

.product-form-item {
  gap: 0.5em;
}

.type-category-wrapper,
.breed-number-wrapper,
.age-price-wrapper {
  gap: 5.5em;
}

.farm-input-form-select,
.farm-form-textarea,
.farmer-product-input-text,
.farmer-product-input-number {
  border-radius: 6px;
}

.farm-form-textarea,
.farmer-product-input-text,
.farmer-product-input-number {
  padding: 0.3em 0.35em;
}

.farm-input-form-select {
  padding: 0.34em 0.45em;
  background: white;
}

/* 7.Footer */

.footer {
  margin-block-start: 24em;
  padding-block: 5em 8em;
}

.footer-grid {
  justify-content: space-between;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "trade support  source"
    "...   social   ...";
}

.source {
  grid-area: source;
}

.support {
  grid-area: support;
  justify-self: center;
}

.trade {
  grid-area: trade;
  justify-self: end;
}

.social-links {
  grid-area: social;
}

.footer-social-links-list {
  justify-content: space-between;
  margin-block-start: 3.5em;
}

.footer-link {
  cursor: pointer;
}

.social-link {
  cursor: pointer;
}

.footer-nav-list {
  margin-block-start: 0.5em;
  gap: 0.3em;
}
